/* src/pages/Home.css */
.home-container {
    text-align: center;
    margin-top: 10px;
  }
  
  .home-image {
    width: 80%;
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .home-button {
    padding: 20px 45px;
    font-size: 16px;
    cursor: pointer;
    background-color: #424141;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .home-button:hover {
    background-color: #171817;
  }
  
  .home-message {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  